*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-5deg,  #000000,  #111111, #222222,#333333);
}
.hero{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://media.discordapp.net/attachments/889967763316166727/900166363946025030/3d.png?width=498&height=498);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    color: #8c8c8c;
    padding: 0 8%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #8c8c8c;
    text-decoration: none;
}
.hero h1{
    font-size: 75px;
    margin-top: 12%;
}
.hero button{
    background: #8c8c8c;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: white;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.test1 button{
    background: #8c8c8c;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: white;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.indicator span{
   display: inline-block;
   background: #3a3a3a;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   margin-right: 10px;
}
.indicator{
    margin-top: 150px;

}
.indicator span.active{
    background: #bfbfbf;

}